* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(138, 136, 136);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  font-size: 10px;
}
.container {
  width: 38rem;
  height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  transition: all 0.4s ease;
}
.place-name {
  display: flex;
  color: #fff;
  font-size: 3rem;
  font-family: "Hurricane", cursive;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  position: relative;
  cursor: pointer;
}
.place-name > img {
  height: 1.8rem;
  width: 1.8rem;
  position: relative;
  right: 1rem;
  cursor: grabbing;
}
.container > .date {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
}
.icon > img {
  height: 5rem;
  width: 5rem;
}

.icon-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 2rem;
  height: 10rem;
  width: 100%;
}
.icon-sunny-percent {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 3rem;
  width: 10rem;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sunny {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Dancing Script", cursive;
}
.percent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.percent > div > span {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Dancing Script", cursive;
}
.percent > div > img {
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  top: 0.09rem;
}

.temp {
  width: 10rem;
  height: 100%;
  position: relative;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp > h1 {
  font-size: 6rem;
  color: #fff;
  font-family: "Libre Baskerville", serif;
}
.temp > span {
  font-size: 2.5rem;
  color: #fff;
  position: relative;
  bottom: 1rem;
  left: 0.8rem;
  font-family: "Libre Baskerville", serif;
}
#input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  z-index: 100;
  position: relative;
  top: 4rem;
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in;
}

#input > input {
  text-align: center;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.5rem 0rem 0 0.5rem;
  height: 100%;
  outline: none;
}

#input > button {
  background-image: url(/weather-app/icons/loupe.png);
  height: 3.5rem;
  width: 3.5rem;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border: none;
  visibility: hidden;
  opacity: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}
.display-forecast-flex {
  width: 90%;
  height: 20rem;
  opacity: 75%;
  border-radius: 2rem;
  position: relative;
  top: 10rem;
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.display-forecast {
  width: 6rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.date-forecast {
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
}

.display-forecast > img {
  height: 5rem;
  width: 5rem;
}
.temperature-forecast {
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
}
.forecast-h1 {
  position: relative;
  font-size: 2.3rem;
  border-radius: 1rem;
  height: 3rem;
  width: 16rem;
  text-align: center;
  top: 9rem;
  left: 3rem;
  z-index: 100;
  visibility: hidden;

  color: #fff;
}
